@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #396181, #2f487f);
  --foreground: #fff;
  --container-bg: #6b88c6;
  --container-border: #3d53ab;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
