@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #396181, #2f487f);
  --foreground: #fff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, button {
  background-color: #39769f;
  border: 2px solid #5abbfc;
  border-radius: 6px;
  padding: 4px 8px;
  font-size: 1.2rem;

  transition: 400ms;
}

#pass-form button:hover {
  background-color: #5abbfc;
  border-color: #39769f;
}

input:focus {
  outline: none;
}

#pass-form, #auth-form {
  box-shadow: 0px 5px 4px #5abbfc;
}

#admin-navbar, #auth-navbar {
  background: linear-gradient(to bottom, #5098c7, #4599de);
  box-shadow: 0px 2px 4px #396181;
}

#requests-display {
  box-shadow: 0px 3px 2px #5abbfc;
}

#requests-display .accept-request-btn, #requests-display .deny-request-btn {
  padding: 2px 4px;
  font-weight: 550;
}

.accept-request-btn {
  background-color: #4bb252;
  border-color: #6ee976;
}

.accept-request-btn:hover {
  background-color: #419246;
  border-color: #69ff73;
}

.deny-request-btn {
  background-color: #d04747;
  border-color: #ff6f6f;
}

.deny-request-btn:hover {
  background-color: #933939;
  border-color: #ff5454;
}